%ul{class: "item_#{@item.product_id}"}
	%li.{class: "image_#{@item.product_id}"}
		= link_to image_tag(@item.product.product_image.path(:thumbnail))), product_path(:id => @item.product_id)
	%li{class: "amount_#{@item.product_id}"}
		= @item.amount
	%li{class: "price_#{@item.product_id}"}
		= @item.price
	%li{class: "total_#{@item.product_id}"}
		= @item.total_each
%p#cart_total
	%strong
		= "Total: $#{sprintf("%0.2f", @cart.total)}"