#cart_items
	%ul#headers.odd
		%li.header.item Item
		%li.header.amount Amount
		%li.header.unit_price Unit Price
		%li.header.full_price Full Price
	- unless @cart.cart_items.empty?
		- for item in @cart.cart_items do	
			%ul{class: "item_#{item.product_id} #{cycle(:odd, :even)}", :id => 'items'}
				%li.cart_item.image<
					= link_to image_tag(item.cart_item_product(item.product_id).product_image.url(:thumbnail)), product_path(:id => item.product_id)
					= remove_from_cart_link(item.product_id)
				%li.cart_item.amount<
					= item.amount
				%li.cart_item.price<
					= "$#{item.price}"
				%li.cart_item.full_price<
					= "$#{item.full_price}"
	-else
		%p Your cart is empty
	#checkout
		= form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do
			= hidden_field_tag :cmd, "_s-xclick"
			= hidden_field_tag :encrypted, @cart.paypal_encrypted(products_url, payment_notification_url)
			%p#cart_total
				%strong
					= "Total: $#{sprintf("%0.2f", @cart.total)}"
				= submit_tag '', id: "pay_button"
		= link_to 'Back to Shopping', products_path, class: 'back_to_shopping'
