#pick_your_part
	-unless @pendants.nil?
		#knots
			-for pendant in @pendants
				%ul
					%li
						= image_tag("photos/pendant/#{pendant.filename}.jpg")
					%li>
						Style:
						= pendant.style
					%li>
						Price:
						= sprintf("%0.2f", pendant.price)
					%button
						= link_to 'Add this Pendant', "/custom/add_clasp/#{pendant.id}"