#pick_your_part
	-unless @knots.nil?
		#knots
			-for knot in @knots
				%ul
					%li
						= image_tag("photos/knot/#{knot.filename}.jpg")
					%li>
						Style:
						= knot.style
					%li>
						Price:
						= sprintf("%0.2f", knot.price)
					%button
						= link_to 'Add this knot', "/custom/add_main_beads/#{knot.id}"