<section class="slider">
	<div id="slidernav">
		<ul>
			<li id="prev"><a class="prev"><%= image_tag 'site/uparrow.png' %></a></li>
			<li id="one"><a>1</a></li>
			<li id="two"><a>2</a></li>
			<li id="three"><a>3</a></li>
			<li id="four"><a>4</a></li>
			<li id="five"><a>5</a></li>
			<li id="six"><a>6</a></li>
			<li id="seven"><a>7</a></li>
			<li id="eight"><a>8</a></li>
			<li id="next"><a class="next"><%= image_tag 'site/downarrow.png' %></a></li>
		</ul>
	</div>
	<div id="sliderpic">
		<%= image_tag 'photos/IMG_6281.JPG', :height => 408, :width => 717 %>
		<%= image_tag 'photos/beads/IMG_6110.JPG', :height => 408, :width => 717 %>
		<%= image_tag 'photos/beads/IMG_6123.JPG', :height => 408, :width => 717 %>
		<%= image_tag 'photos/clasps/IMG_6098.JPG', :height => 408, :width => 717 %>
		<%= image_tag 'photos/clasps/IMG_6102.JPG', :height => 408, :width => 717 %>
		<%= image_tag 'photos/pendants/IMG_6265.JPG', :height => 408, :width => 717 %>
		<%= image_tag 'photos/pendants/IMG_6275.JPG', :height => 408, :width => 717 %>
		<%= image_tag 'photos/pendants/IMG_6280.JPG', :height => 408, :width => 717 %>
	</div>
	<div id="sliderinfo">
		<%= image_tag 'site/banner.png', :id => 'banner' %>
		<p>php var </br>goes here</p>
	</div>
</section>

