%section.slider
	#slidernav
		%ul
			%li#prev
				= link_to image_tag('site/uparrow.png'), '#',:class => "prev"
			%li#one
				= link_to '1', '#'
			%li#two
				= link_to '2', '#'
			%li#three
				= link_to '3', '#'
			%li#four
				= link_to '4', '#'
			%li#five
				= link_to '5', '#'
			%li#six
				= link_to '6', '#'
			%li#seven
				= link_to '7', '#'
			%li#eight
				= link_to '8', '#'
			%li#next
				= link_to image_tag('site/downarrow.png'), '#', :class => "next"
	#sliderpic
		= image_tag 'photos/IMG_6281.jpg', :height => 408, :width => 717
		= image_tag 'photos/IMG6281.jpg', :height => 408, :width => 717
		= image_tag 'photos/complete/IMG_6645.JPG', :height => 408, :width => 717
		= image_tag 'photos/complete/IMG_6685.JPG', :height => 408, :width => 717
		= image_tag 'photos/complete/IMG_6686.JPG', :height => 408, :width => 717
		= image_tag 'photos/complete/IMG_6687.JPG', :height => 408, :width => 717
		= image_tag 'photos/complete/IMG_6688.JPG', :height => 408, :width => 717
		= image_tag 'photos/complete/IMG_6689.JPG', :height => 408, :width => 717
	#sliderinfo
		= image_tag 'site/banner.png', :id => 'banner'
		%p
