#start_example
	%p Choose one to customize.
	%ul
		%li
			= link_to image_tag("photos/custom_ex/ex_necklace.jpg"), picked_path(:pick => 'necklace')
		%li
			%span Necklace
	%ul
		%li
			= link_to image_tag("photos/custom_ex/ex_bracelet.jpg"), picked_path(:pick => 'bracelet')
		%li
			%span Bracelet
	%ul
		%li
			= link_to image_tag("photos/custom_ex/ex_anklet.jpg"), picked_path(:pick => 'anklet')
		%li
			%span Anklet
	%ul
		%li
			= link_to image_tag("photos/custom_ex/ex_survivor.jpg"), picked_path(:pick => 'survivorbracelet')
		%li
			%span Survivor Bracelet
	%ul
		%li
			= link_to image_tag("photos/custom_ex/ex_keychain.jpg"), picked_path(:pick => 'keychain')
		%li
			%span Keychain
	%ul
		%li
			= link_to image_tag("photos/custom_ex/ex_earring.jpg"), picked_path(:pick => 'earrings')
		%li
			%span Earrings
