- unless @products.nil?
	#select_products
		%ul
			- if @products.is_a?(ActiveRecord::Relation::ActiveRecord_Relation_Product) || @products.is_a?(Hash)
				- for product in @products do
					%li.row
						= link_to image_tag(product.product_image.url(:small), class: "image_thumb"), product_path(:id => product.id)
						%p= "Price: $#{product.price}"
			-else
				%li.row
					= link_to image_tag(@products.product_image.url(:small), class: "image_thumb"), product_path(:id => @products.id)
					%p= "Price: $#{@products.price}"
