#all_product
<<<<<<< HEAD
	- for product in @all_products
		%ul
			%li
				%span
					= link_to image_tag("photos/complete/#{product.filename}_small.jpg"), item_path(:id => product.id)
				
				%span
					Category:
					= product.category
				%span
					Price:
					= product.price
=======
	%ul
		- for product in @all_products	
			%li.row
				= link_to image_tag("photos/complete/#{product.filename}_small.jpg", class: "image_thumb"), item_path(:id => product.id)

>>>>>>> Began implementing permanent remember me
