- unless @product.nil?
	.product_container	
		#product
			= image_tag(@product.product_image.url(:original))
		#productinfo
			%p= @product.name
			%p= @product.price
			%p= @product.category
			- unless @product.subcategory.nil?
				%p= @product.subcategory
			%p= link_to image_tag("site/bag.png", title: "Add to Cart"), add_path(:id => @product.id), :remote => true, :id => "add_#{@product.id}"

