%section#product_container
  = link_to 'New Product', admin_new_product_path, id: 'new_p'
  %table#products
    %tr
      %td.name Name
      %td.quantity Quantity
      %td.category Category
      %td.price Price
      %td.description Description
      %td.gender Gender
      %td.subcategory Subcategory
      %td.image Product Image
    - for p in @products do
      %tr#admin_product
        %td.name= p.name
        %td.quantity= p.quantity
        %td.category= p.category.capitalize
        %td.price= "$#{sprintf("%0.2f", p.price)}"
        %td.description= p.description
        %td.gender= p.gender || 'None'
        %td.subcategory= p.subcategory || 'None'
        %td.image= image_tag p.product_image.url(:thumbnail)
        %td.edit= link_to "Edit", admin_product_edit_path(product_id: p.id)
        %td.delete= link_to "Delete", admin_product_delete_path(product_id: p.id)
