%nav#menu
	%ul
		%li
			= link_to 'Products', admin_products_path
		%li
			= link_to 'Admin Users', admin_users_path
		%li
			= link_to 'Orders'#, admin_orders_path
		%li
			= link_to 'Main Site', :root
		%li
			= link_to 'Log Out', admin_logout_path